/*-------------------------------------------------------------------------------------------*/
/*- ECOMMERCE -------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

	/*-------------------------------------------*/
	/*- PRODUCTS --------------------------------*/
	.products mark{background: none;}
	.social-linking{display: block; float: none; clear: both; width: 230px; padding-top: 5px; margin-bottom: 15px;}

	.pagenav li: last-child{background: none;}

	.gallery-slider .images{width: 100%; display: block;}
	.gallery-slider .images a img{border: 1px solid #e0e0e0;}

		/*-- GALLERY --*/
		.gallery-option .images .thumbnails{width: 100%; margin: 20px 0px 0px; overflow: hidden;}
		.gallery-option .images .thumbnails a{float: left; width: 30%; margin-right: 5%;}
		.gallery-option .images .thumbnails a:nth-child(3n+3){margin-right: 0px;}
		.gallery-option .images .thumbnails a img{max-width: 96px; width: 100%; height: auto; border: 1px solid #e0e0e0;}

		/*-- SLIDER --*/
		.slider-option .images .thumbnails{display: block; float: left; margin: 25px auto;}
		.slider-option .images .thumbnails a{float: left; margin-right: 15px;}
		.slider-option .images .thumbnails a: last-child{margin-right: 0px;}
		.slider-option .images .thumbnails a img{width: 100px; height: auto; padding: 4px;}


	.product_meta{margin: 10px 0px 30px; clear: both; font-size: 12px; color: #777;}
	.variations_form td{padding: 0px 10px 5px 0px; font-size: 13px; color: #777;}
	.product-content select{padding: 5px 10px; border-radius: 16px; border: 1px solid #777;}

	.woocommerce-pagination{display: none;}
	/*-------------------------------------------*/
	/*- CART ------------------------------------*/
	td.actions .button.alt{margin: 0px 0 0 6px !important;}
	.entry a.button{float: none !important;}
	.woocommerce_ordering{text-align: center; margin-bottom: 0px !important;}
	.woocommerce-ordering{text-align: center; margin-bottom: 0px !important;}
	ul.product_list_widget li{padding: 0px 0px 20px; margin: 0px 0px 20px; clear: both;}
	ul.cart_list li img, ul.product_list_widget li img{width: 50px; height: auto;}
	ul.cart_list li a, ul.product_list_widget li a{display: block;}
	ul.cart_list li .variation dt{float: left; padding-right: 5px;}

	.shop_table th{border-top: none !important;}
	.cart-subtotal{border: none !important;}

	.product-quantity{width: 100px !important;}
	table.shop_table td{padding: 6px 12px; vertical-align: middle;}
	table.shop_table th{font-weight: bold; line-height: 18px;}
	a.remove{display: block; text-align: center;}

	table.cart img{padding: 0px; width: 32px; height: auto;}
	table.cart td.actions{text-align: right;}
	table.cart td.actions .coupon{float: left;}
	table.cart td.actions .coupon label{display: none;}

	dl.variation{overflow: hidden; zoom: 1; font-size: 13px !important;}
	.shop_table dl.variation dt, .shop_table dl.variation dd{float: left; margin-right: 2px;}
	.shop_table dl.variation dd{margin-right: 18px; font-style: italic;}

	.cart_totals p{clear: both; display: block;}

	.cart-collaterals .cart_totals{float: right; width: 48%; padding: 0%;}
	.cart-collaterals .shipping_calculator{float: right; clear: right;}
	.cart-collaterals .shipping_calculator .form-row: first-child{width: 100%;}
	.cart-collaterals .shipping_calculator .col2-set{clear: left; overflow: visible;}
	.cart-collaterals .shipping_calculator .col2-set .form-row: first-child{width: 48%;}
	.cart-collaterals .shipping-calculator-form{padding-right: 4px;}

	.cart-collaterals .cart_totals table small{display: block;}
	.cart-collaterals .cart_totals table{float: right; font-size: 12px !important; font-weight: bold !important;}

	.cart-collaterals .cross-sells, .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator{width: 46%;}
	.cart-collaterals .cross-sells{float: left;}
	.cart-collaterals .cross-sells ul.products{margin: 0; padding: 0;}
	.cart-collaterals .cross-sells ul.products li{width: 48%; list-style: none;}
	.cart-collaterals .cart_totals tr td, .cart-collaterals .cart_totals tr th{padding: 6px 24px; font-weight: bold;}

	.cart-collaterals .shipping_calculator{width: 48%; float: left; clear: none;}

	.shipping-calculator-form input{width: 190px !important; margin-bottom: 5px;}
	.shipping-calculator-form select{width: 200px; margin-bottom: 5px;}
	.shipping_calculator h2{margin-bottom: 10px; font-size: 15px !important;}
	.shipping-calculator-form .form-row-last{width: 190px;}
	.shipping-calculator-button{padding: 3px 12px; margin: 0px; background: #f2f2f2; border: 1px solid #e1e1e1; border-radius: 100px; color: #595959; font-weight: bold; font-size: 14px; line-height: 22px;}
	.shipping-calculator-button:hover{background-color: #f93942; color: #fff !important; border-color: #e7242d;}
	.shipping-calculator-button span{display: inline; margin-left: 5px;}

	.cart_totals select{width: 100%;}
	form.login{padding: 20px; margin: 20px 0 20px 0px; text-align: left; border-radius: 5px;}

	.shop_table th{border-top: none !important;}
	.cart-subtotal{border: none !important;}

	table.shop_table td{border-top: 1px solid rgba(0, 0, 0, 0.1);}
	table.shop_table th{color: #888;}

	.cart-collaterals .cart_totals table{color: #888 !important; border-top: none; border-right: none;}
	.cart-collaterals .cart_totals tr td, .cart-collaterals .cart_totals tr th{border-top: 1px solid #E7E7E7;}

	.shipping-calculator-form input{background: none; border: 1px solid #ccc;}


	/*-------------------------------------------*/
	/*- CHECKOUT --------------------------------*/
	.copy .col2-set{clear: both; margin-top: 30px;}

	.copy .customer_details{padding: 0px; margin: 0px 0px 20px; border-radius: 3px; list-style: none; overflow: hidden;}
	.copy .customer_details dt, .copy .customer_details dd{float: left; padding: 5px 10px; font-size: inherit; font-weight: bold;}
	.copy .customer_details dt{clear: left; font-weight: normal;}

	.copy ul.order_details{padding: 0px; margin: 0px 0px 20px; border-radius: 3px; list-style: none;}
	.copy ul.order_details li{padding: 5px 10px; font-size: inherit;}
	.copy ul.order_details li: last-child{border-bottom: none;}


	.col2-set h3{float: none !important; padding-top: 20px !important; margin-bottom: 20px !important; font-size: 18px;}
	.col2-set .form-row{padding: 0px !important;}
	.col2-set .col-1{float: left; width: 48%;}
	.col2-set .col-2{float: right; width: 48%;}
	.col2-set::after{content: ""; display: block; clear: both;}
	.col-1 .form-row .input-checkbox{margin: 0px !important;}

	#order_review_heading{padding-top: 20px; margin: 20px 0 !important; font-size: 18px;}
	.coupon #coupon_code{padding: 6px; margin: 0 8px 0 0; border: 1px solid #CCC; outline: 0; background: white none; height: 27px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; line-height: 1em;}

	form .form-row input.input-text, #content .form-row input.input-text, form .form-row textarea, #content .form-row textarea{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 6px; margin: 0; outline: 0; background: white none; font-size: 14px; line-height: 1em;}
	form .form-row textarea, #content .form-row textarea{height: 3.5em; line-height: 1.5em; display: block; box-shadow: none;}

	.form-row-first, .form-row-last{float: left; width: 47%; overflow: visible;}
	.form-row{margin: 0 0 6px;}
	.form-row label{display: block; margin-bottom: 5px; font-weight: bold; font-size: 12px;}
	.form-row-last{float: right;}
	.form-row .input-checkbox{display: inline; margin: 5px 8px 0 0; text-align: center; vertical-align: middle;}
	.form-row label.checkbox{display: inline;}

	.copy .customer_details{background: #fff; border: 1px solid #ccc; box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);}

	.copy ul.order_details{background: #fff; border: 1px solid #ccc; box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);}
	.copy ul.order_details li: last-child{border-bottom: none;}

	.col2-set h3{border-top: 2px solid #ccc;}

	#order_review_heading{border-top: 2px solid #ccc;}
	#coupon_code{box-shadow: 0 0 0; max-width: 50%; float: left; border-radius: 100px;}

	form .form-row input.input-text, #content .form-row input.input-text, form .form-row textarea, #content .form-row textarea{box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.1); border: 1px solid #CCC;}
	form .form-row textarea, #content .form-row textarea{box-shadow: none;}
	.woocommerce-shipping-calculator{margin-top: 10px;}

		/*------------------------------*/
		/*- CHECKOUT PAYMENT SECTION ---*/
		table.shop_table{clear: none; float: left; width: 48%; border-collapse: separate; margin-bottom: 30px; border: 1px solid #e6e6e6; border-right: none;}
		#payment{clear: none; float: left; width: 48%;}
		.wc-proceed-to-checkout{float: right;}


/*-------------------------------------------------------------------------------------------*/
/*- WOOCOMMERCE -----------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/


	/*------------------------------*/
	/*- TABS -----------------------*/
	div.woocommerce_tabs {display: inline-block; width: 100%; margin-bottom: 30px;}
	div.product .woocommerce_tabs .panel {padding: 15px 0px 0px; border-top: 1px solid #e0e0e0; position: relative; clear: both; z-index: 10 !important; }
	div.product .woocommerce_tabs .panel h2 { font-size: 15px; font-weight: bold; margin-bottom: 15px;}
	div.product .woocommerce_tabs ul.tabs {background: #fff !important; padding-left: 10px; overflow: visible; display: block; font-size: .9em;}
	div.product .woocommerce_tabs ul.tabs li {float: left; margin-bottom: -1px; padding: 3px 15px; background: #f2f2f2; margin-right: 1px; border: 1px solid #e0e0e0; border-radius: 3px 3px 0px 0px;}
	div.product .woocommerce_tabs ul.tabs li a {color: #c5c5c5; font-size: 14px; font-weight: bold;}
	div.product .woocommerce_tabs ul.tabs .active{margin-bottom: -1px; position: relative; z-index: 99 !important; background: #fff; border-bottom-color: #fff;}
	div.product .woocommerce_tabs ul.tabs .active a{color: #595959;}

	.woocommerce_tabs #tab-description h2, .woocommerce_tabs #tab-reviews h2{display: none !important;}

	#reviews .show_review_form{font-weight: bold;}


	/*--------------------------*/
	/*- INFO BOXES -------------*/
	.woocommerce_message, p.alert, p.download, p.info, p.note, p.tick, .woocommerce_error, .woocommerce-message{margin: 0px 0 20px 0; padding: 10px 10px; overflow: hidden; zoom: 1; clear: left; font-weight: bold; border-radius: 8px;}
	.woocommerce_message .button{float: right; margin: 0px; padding: 2px 10px; font-size: 11px;}
	.woocommerce-message .button{float: right; margin: 0px; padding: 2px 10px; font-size: 11px;}
	p.alert, .woocommerce_error{border: 1px solid #f0baa2; background: #ffd9c8;}
	p.download{border-top: 1px solid #d4ebaf; border-bottom: 1px solid #d4ebaf; background: #edfcd5;}
	p.tick, .woocommerce_message, .woocommerce-message{border: 0px; background: #eeeeee;}
	p.info{border: 1px solid #CDA51B; background: #F9E277; color: #000000; box-shadow: none !important;}
	p.note{border-top: 1px solid #efe3ae; border-bottom: 1px solid #efe3ae; background: #fef6d2;}


	/*--------------------------*/
	/*- TABLES -----------------*/
	table.cart, .cart_totals table{width: 100%; border-collapse: separate; margin-bottom: 30px; border: 1px solid #e6e6e6; border-right: none;}
	table.shop_table td, table.cart td, table.shop_table th, table.cart th, .cart_totals table td, .cart_totals table th{padding: 10px; vertical-align: top; border-right: 1px solid #e6e6e6;}
	table.shop_table th, table.cart th, .cart_totals table th{text-align: left; font-weight: normal; color: #333;  font-weight: bold; background: #f6f6f6; -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4); color: #333;}

	/*--------------------------*/
	/*- DEMO STORE NOTICE ------*/
	p.demo_store{padding: 5px 0; background: #fff; border-bottom: 1px solid #e6e6e6; position: absolute; top: 0; left: 0; right: 0; z-index: 999999; text-align: center; font-weight: bold; font-size: 12px;}


	/*--------------------------*/
	/*- SIDEBAR/FOOTER STARS ---*/
	#sidebar .star-rating, #footer-widgets .star-rating{width: 60px; height: 12px; margin-top: 2px; float: none;}
	#sidebar .star-rating span, #footer-widgets .star-rating span{padding-top: 12px;}
	#sidebar p.stars span, #footer-widgets p.stars span{width: 60px; height: 12px;}
	#sidebar p.stars span a, #footer-widgets p.stars span a{width: 12px; padding-top: 12px;}


	/*--------------------------*/
	/*- ATTRIBUTES -------------*/
	.shop_attributes th{padding-right: 20px;}
	.shop_attributes p{margin:0 !important;}


	/*--------------------------*/
	/*- REVIEWS ----------------*/
	.reviews_tab{margin-right: 0px !important;}

	#reviews ol{padding: 0px; margin: 0px 0px 20px;}
	#reviews li{list-style-type: none;}
	#reviews h2{margin-bottom: 15px; display: block;}
	#reviews .meta {margin: 0px 0px 5px;}
	#reviews .description {font-size: 14px;}

	#fancybox-content #respond{margin-top: 0;}
	#fancybox-content #respond label{font-weight: bold;}
	#fancybox-wrap table{background: none;}

	.comment-form-author input, .comment-form-email input{clear: both; display: block;}
	.comment-form-author, .comment-form-email{margin-bottom: 10px;}

	#reviews #comments ol.commentlist li .comment-text{float: right; margin-top: 20px; width: 92%; font-size: 13px;}
	#reviews #comments ol.commentlist li img{float: left; position: absolute; top: 25px; left: 0; width: 32px; height: auto; margin: 0; line-height: 1;}

	.add_review .button{float: right;}
	#reply-title{margin: 20px 0px; font-size: 15px; font-weight: bold; }
	.comment-form-rating{margin-bottom: 15px;}
	.form-submit{margin-bottom: 0px;}
	.comment-form-comment{margin-bottom: 5px;}


		/*--------------------------*/
		/*- STAR RATINGS -----------*/
		.star-rating{width: 80px; height: 16px; background: url(images/star.png) repeat-x left 0;}
		.star-rating span{background: url(images/star.png) repeat-x left -32px; height: 0; padding-top: 16px; overflow: hidden; float: left;}
		#reviews time{font-size: 10px; font-style: italic;}
		p.stars{overflow: hidden; zoom: 1; margin-bottom: 0px;}
		p.stars span{width: 80px; height: 16px; position: relative; float: left; background: url(images/star.png) repeat-x left 0;}
		p.stars span a{float: left; position: absolute; left: 0; top: 0; width: 16px; height: 0; padding-top: 16px; overflow: hidden;}
		p.stars span a:hover, p.stars span a:focus{background: url(images/star.png) repeat-x left -16px;}
		p.stars a.active{background: url(images/star.png) repeat-x left -32px;}
		p.stars span a.star-1{ width: 16px; z-index: 10; }
		p.stars span a.star-2{ width: 32px; z-index: 9; }
		p.stars span a.star-3{ width: 48px; z-index: 8; }
		p.stars span a.star-4{ width: 64px; z-index: 7; }
		p.stars span a.star-5{ width: 80px; z-index: 6; }


	/*--------------------------*/
	/*- QUANTITY INCREMENTER ---*/
	.quantity input.qty{float: left; width: 10px; height: 30px; width: 40px; margin: 0px; position: relative; padding: 0px 10px 0px; font-size: 14px; text-align: center; float: none; z-index: 10; border-radius: 0; border: 1px solid #E1E1E1; border-right: none; border-left: none;}
	.quantity .plus, .quantity .minus{width: 28px; height: 30px; background: #F2F2F2; border: 1px solid #E1E1E1; position: relative; padding: 0px; text-align: center; font-size: 14px; color: #595959;}

	.quantity .plus{float: right !important; margin: 0px; border-radius: 0px 15px 15px 0px;}
	.quantity .minus{float: left; border-radius: 15px 0px 0px 15px;}

	.quantity .plus:hover, .quantity .minus:hover{background-color: #f93942; color: #fff; border-color: #e7242d;}

	.cart .quantity{float: left;}


	/*--------------------------*/
	/*- USER ACCOUNT SECTION ---*/
	header.title{overflow: hidden; zoom: 1;}
	header.title h3{float: left; padding: 0;}
	header.title a{float: right;}

	.addresses address{clear: both;}
	.required{color: red;}

	.woocommerce-account table{font-size: 0.8751em;}
	.woocommerce-account h2{}
	.woocommerce-account .shop_table .button{margin: 0;}


	/*--------------------------*/
	/*- ORDER TRACKING ---------*/
	ol.commentlist.notes{padding-left: 0;}
	ol.commentlist.notes li.note{list-style: none; padding-bottom: 15px; margin-bottom: 15px;}
	ol.commentlist.notes li.note: last-child{padding-bottom: 0; margin-bottom: 0; border-bottom: 0;}
	ol.commentlist.notes li.note p.meta{font-weight: bold;}


	/*--------------------------*/
	/*- SHOP -------------------*/
	ul.cart_list li img, ul.product_list_widget li img{float: left; margin-right: 10px;}

	p.woocommerce-result-count{float: left; padding: 0; margin-bottom: 15px; font-size: 12px; font-weight: bold;}
	.woocommerce-ordering{float: right; margin-bottom: 15px;}

	span.onsale{width: 60px; height: 60px; right: 20px; top: 20px; left: auto; position: absolute; background: #f93942; text-align: center; line-height: 60px; color: #fff; font-size: 14px; font-weight: bold; border-radius: 30px;}
	.widget_product_search #searchform label{display: none;}
	.widget_product_search #searchform input#s{padding: 6px 10px 6px; margin: 0px; border-radius: 3px; border-color: #e0e0e0; color: #777; font-size: 12px; box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);}
	.widget_product_search #searchform input#searchsubmit{position: absolute; display: block; padding: 0px; margin: 0px; top: 5px; right: 5px; width: 30px; height: 16px; background: url(images/layout/sprite.png) 12px -60px no-repeat; text-indent: -99999px; border: none; box-shadow: none; overflow: hidden;}


		/*- RELATED PRODUCTS ---*/
		.related{background: #f5f5f5; padding: 20px; margin-bottom: 20px; border: 1px solid #eee; border-radius: 3px;}
		.related h2{margin-bottom: 15px; font-size: 11px; color: #777; font-weight: bold; text-transform: uppercase;}
		.related .products li{width: 22.8596754%;}
		.related .products li:nth-child(3n+3){margin-right: 2.857142%;}
		.related img{max-width: 150px; height: auto;}

		/*- UP SELL PRODUCTS ---*/
		.upsells{background: #f5f5f5; padding: 20px; margin-bottom: 20px; border: 1px solid #eee; border-radius: 3px;}
		.upsells h2{margin-bottom: 15px; font-size: 11px; color: #777; font-weight: bold; text-transform: uppercase;}
		.upsells .products li{width: 22.8596754%;}
		.upsells .products li:nth-child(3n+3){margin-right: 2.857142%;}
		.upsells .products li:nth-child(4n+4){margin-right: 0px;}
		.upsells .products li:nth-child(3n+4){clear: none;}

	/*--------------------------*/
	/*- CHECKOUT ---------------*/
	.woocommerce-checkout form.login{overflow: hidden; zoom: 1; margin-bottom: 20px;}
	.woocommerce-checkout form.login button{margin-left: 0;}

	#shiptobilling{float: right; width: 160px; margin: 22px 0px 0px; font-size: 12px;}
	#shiptobilling input{float: left; width: auto;}

	.form-row.notes{width: 100%;}
	.checkout .create-account{clear: left;}
	.checkout .form-row.vat-number{width: 100%;}

	/*-------------------------*/
	/*- PAYMENT METHODS -------*/
	#payment{float: right; width: 49%; background: #f6f6f6; border: 1px solid #e6e6e6; -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);}
	#payment .payment_methods input[type=radio]{display: inline; padding: 5px 0;}
	#payment .payment_methods label{display: inline;}
	#payment .payment_methods{list-style: none; margin: 0; padding: 0;}
	#payment .payment_methods li{padding: 10px; margin: 0; border-bottom: 1px solid #e0e0e0;}
	#payment .payment_methods li input + label{font-weight: 700;}
	#payment img{display: block; vertical-align: middle; margin-left: 5px;}

	.copy #payment .payment_box{padding: 10px; margin-top: 5px; background: #fff;}
	.copy #payment .payment_box p{margin-bottom: 0; font-size: 12px;}
	.copy #payment .form-row{margin: 0; padding: 10px;}

	#payment .place-order input[type=submit]{display: block; width: 100%; height: 35px; background: #6c9; color: #fff; text-transform: uppercase;}
	#payment .place-order input[type=submit]:hover:hover{background: #333;}

	#payment .woocommerce-cc-month{float: left; width: 38%; margin-right: 20px;}
	#payment .woocommerce-cc-year{float: left; width: 38%;}



	/*--------------------------*/
	/*- WOO WIDGETS ------------*/
	/*--------------------------*/


		/*--------------------------*/
		/*- PRICE FILTER -----------*/
		.price_slider_wrapper{margin-top: 15px; font-size: 15px;}
		.widget_price_filter h4{padding: 0px;}
		.price_slider_amount .price_label{float: left; padding-top: 5px;}
		.price_slider_amount .button{float: right !important; margin-bottom: 10px;}
		.widget_price_filter .price_slider_wrapper .price_slider{margin-bottom: 10px !important;}
		.widget_price_filter .price_slider_wrapper .ui-widget-content{border-radius: 1em;}

		.widget_price_filter .ui-slider-horizontal{height: .5em;}
		.widget_price_filter .ui-slider{position: relative; text-align: left;}
		.widget_price_filter .ui-slider .ui-slider-range{position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; border-radius: 1em;}

		.widget_price_filter .ui-slider-horizontal .ui-slider-range{top: 0; height: 100%;}
		.widget_price_filter .ui-slider .ui-slider-handle{position: absolute; z-index: 2; width: 0.9em; height: 0.9em; border-radius: 1em; cursor: pointer;}

		.widget_price_filter .ui-slider .ui-slider-handle: last-child{margin-left: -1em;}
		.widget_price_filter .ui-state-default, .widget_price_filter .ui-widget-content .ui-state-default, .widget_price_filter .ui-widget-header .ui-state-default{font-weight: normal;}

		.widget_price_filter .price_slider_wrapper .ui-widget-content{background: #333; background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666)); background: -webkit-linear-gradient(#333, #666); background: -moz-linear-gradient(center top, #333 0%, #666 100%); background: -moz-gradient(center top, #333 0%, #666 100%);}
		.widget_price_filter .ui-slider .ui-slider-range{border: 0; background: #e1e1e1;}
		.widget_price_filter .ui-slider .ui-slider-handle{border: 1px solid #333; cursor: pointer; background: white; background: -webkit-gradient(linear, left top, left bottom, from(white), to(#BBB)); background: -webkit-linear-gradient(white, #BBB); background: -moz-linear-gradient(center top, white 0%, #BBB 100%); background: -moz-gradient(center top, white 0%, #BBB 100%); outline: none; top: -0.3em; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 0 0 1px rgba(255, 255, 255, 0.65); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 0 0 1px rgba(255, 255, 255, 0.65); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 0 0 1px rgba(255, 255, 255, 0.65);}
		.widget_price_filter .ui-state-default, .widget_price_filter .ui-widget-content .ui-state-default, .widget_price_filter .ui-widget-header .ui-state-default{border: 1px solid lightGrey !important; background: #e6e6e6 !important; color: #555 !important;}


		/*--------------------------*/
		/*- SHOPPING CART ----------*/
		.widget_shopping_cart{padding: 20px !important; border: 1px solid #e0e0e0; border-radius: 3px;}
		.widget_shopping_cart .variation{display: none;}
		.widget_shopping_cart .total{display: block; clear: both; margin: 0px; padding: 4px 0px;}
		.widget_shopping_cart .cart_list li{}
		.widget_shopping_cart .cart_list li a{display: block;}
		.widget_shopping_cart .buttons{display: block; margin: 10px -5px;}

		ul.cart_list li img, ul.product_list_widget li img{width: 50px; height: auto;}
		ul.cart_list li a, ul.product_list_widget li a{display: block;}
		ul.cart_list li img, ul.product_list_widget li img{float: left; margin-right: 10px;}
		.product_list_widget .star-rating {height: auto; margin-left: 55px; display: block; overflow: hidden;}


		.widget_shopping_cart .button{font-size: 12px;}

		/*--------------------------*/
		/*- LOGIN ------------------*/
		.widget_login li{padding: 5px 0px;}
		#user_login{display: block; width: 90%;}
		#user_pass{display: block; width: 90%;}
		.widget_login .submitbutton{margin-top: 5px;}
		.widget_login label{display: block;}


		/*--------------------------*/
		/*- PRODUCT CATEGORIES -----*/
		.widget_product_categories li{padding: 5px 0px;}


