#top-products-container {
	background-color: #161f31;
	// padding: 8px;
}
#top-products {
	margin: 0 auto;
	max-width: 940px;
}
#top-products li {
	float: left;
	width: 17.7%;
}
#top-products li a {
	background-position: left center;
	background-repeat: no-repeat;
	color: #fff;
	display: block;
	font-size: 12.37px;
	line-height: 34px;
	max-width: 96px;
	min-height: 34px;
	text-transform: uppercase;
}
#top-products li a span {
	display: inline-block;
	line-height: normal;
	margin: 4px 0 0 16px;
	vertical-align: top;
}
#top-products .menu-item-roller_blinds a {
	background-image: url("images/new/icon_roller_blinds.png");
	padding-left: 30px;
}
#top-products .menu-item-venetian_blinds a {
	background-image: url("images/new/icon_venetian_blinds.png");
	padding-left: 32px;
}
#top-products .menu-item-honeycomb_blinds a {
	background-image: url("images/new/icon_honeycomb_blinds.png");
	max-width: 100px;
	padding-left: 34px;
}
#top-products .menu-item-panel_blinds a {
	background-image: url("images/new/icon_panel_blinds.png");
	padding-left: 32px;
}
#top-products .menu-item-panel_blinds a span {
	max-width: 80px;
}
#top-products .menu-item-vertical_blinds a {
	background-image: url("images/new/icon_vertical_blinds.png");
	padding-left: 32px;
}
#top-products .menu-item-roman_blinds a {
	background-image: url("images/new/icon_roman_blinds.png");
	max-width: 64px;
	padding-left: 33px;
}

#top-products li:last-child {
	float: right;
	width: auto;
}
/*EDITS 9-18-2017 */
.wpb_row.category-products { margin-bottom: 10px; }

.category-products > .wpb_column.archive-product-item > .wpb_wrapper {
    background-color: #fff;
    border: medium none;
    border-radius: 0;
    margin: 10px;
    padding-bottom: 16px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
    box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
}
.category-products > .wpb_column.archive-product-item {
   padding: 0;
}

.category-products > .wpb_column.archive-product-item:hover > .wpb_wrapper {
    border: 4px #FE5252 solid;
    margin: 6px;
}
.category-products .wpb_column.archive-product-item .vc_btn3 { background-color: #FE5252 !important; padding: 0 !important;}
.category-products .wpb_column.archive-product-item .wpb_single_image { margin-bottom: 16px; }
.category-products .wpb_column.archive-product-item .wpb_text_column { margin: 0; }
.category-products .wpb_column.archive-product-item h4 { 
    margin: 0px 0px 5px 0px;
    font-size: 14px;
    font-weight: bold;
    min-height: 50px;
}
@media only screen and (max-width: 767px) {
   .category-products > .wpb_column.archive-product-item { float: left; padding: 0; width: 50%; }
   .category-products > .wpb_column.archive-product-item > .wpb_wrapper { min-height: 240px; }
}
/*END EDITS*/
@media only screen and (max-width: 900px) {
	#top-products li {
		width: 17.4%;
	}
}
@media only screen and (min-width: 801px) {
	ul#nav li:not(:first-child) { margin-left: 48px }
}
@media only screen and (max-width: 800px) {
	#nav-clear {
		clear: both;
		display: block;
	}
	ul#nav {
		background: #161f31;
		float: none;
		margin: 0;
		padding: 8px;
	}
	ul#nav li {
		margin: 0;
		width: 25%;
	}
	ul#nav li a {
		background-position: left center;
		color: #a3a2a2;
	}
	ul#nav li a span {
		margin: 4px 0 0 8px;
		max-width: 100px;
		vertical-align: top;
	}
	#top-products-container {
		background: #f0f0f0;
	}
	#top-products li,
	#top-products li:last-child {
		float: left;
		width: 33.3333%;
	}
	#top-products li a {
		/* color: #545e5c; */
		margin: 2px;
	}
	#top-products .menu-item-roller_blinds a {
		/*background-image: url("images/new/icon_roller_blinds-sm-gray.png");*/
		padding-left: 24px;
	}
	#top-products .menu-item-venetian_blinds a {
		/*background-image: url("images/new/icon_venetian_blinds-sm-gray.png");*/
		padding-left: 25px;
	}
	#top-products .menu-item-honeycomb_blinds a {
		/*background-image: url("images/new/icon_honeycomb_blinds-sm-gray.png");*/
		max-width: 100px;
		padding-left: 27px;
	}
	#top-products .menu-item-panel_blinds a {
		/* background-image: url("images/new/icon_panel_blinds-sm-gray.png"); */
		padding-left: 23px;
	}
	#top-products .menu-item-panel_blinds a span {
		max-width: 80px;
	}
	#top-products .menu-item-vertical_blinds a {
		/* background-image: url("images/new/icon_vertical_blinds-sm-gray.png"); */
		padding-left: 26px;
	}
	#top-products .menu-item-roman_blinds a {
		/* background-image: url("images/new/icon_roman_blinds-sm-gray.png"); */
		max-width: 64px;
		padding-left: 26px;
	}
}
@media only screen and (max-width: 600px) {
	ul#nav li a {
		font-size: 10.11px;
	}
	ul#nav li a span {
		max-width: 80px;
	}
}
@media only screen and (max-width: 400px) {
	#top-products li a {
		font-size: 9.46px;
	}
	#top-products li a span {
		margin: 2px 0 0 8px;
	}
}
#new-banner-container {
	overflow: hidden;
}
#new-banner-container a img {
	display: block;
	left: 50%;
	margin-left: -952.5px;
	max-height: 265px;
	max-width: none;
	position: relative;
}
#blinds-signup-container {
	margin: 16px auto 8px;
	max-width: 980px;
}
#blinds-signup {
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	border: 5px solid #161f31;
	margin: 0 20px;
	min-height: 239px;
}
#blinds-signup .panel {
	margin: 5.7446% 0 0 27.6595%;
}
#blinds-signup .panel-title,
#blinds-signup .panel-subtitle {
	font-weight: 800;
	line-height: normal;
	margin: 0;
	text-transform: uppercase;
}
#blinds-signup .panel-title {
	color: #4d9f1b;
	font-size: 28px;
}
#blinds-signup .panel-subtitle {
	color: #50585a;
	font-size: 36px;
}
#blinds-signup .panel-columns {
	display: inline-block;
}
#blinds-signup .column-firstname,
#blinds-signup .column-email,
#blinds-signup .column-submit {
	float: left;
}
#blinds-signup .column-firstname input,
#blinds-signup .column-email input {
	background: #fff;
	border: 1px solid #4d9f1b;
	box-sizing: border-box;
	color: #444;
	display: block;
	font-family: inherit;
	font-size: 12px;
	height: 32px;
	line-height: normal;
	margin: 0;
	padding: 4px 6px;
}
#blinds-signup .column-firstname {
	margin-right: 6px;
}
#blinds-signup .column-firstname input {
	width: 164px;
}
#blinds-signup .column-email {
	margin-right: 6px;
}
#blinds-signup .column-email input {
	display: block;
	width: 196px;
}
#blinds-signup .column-submit input {
	background: #03B865;
	border: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: 76px;
}
#blinds-signup .column-submit input:hover {
	background: #01a056;
}

@media only screen and (max-width: 800px) {
	#blinds-signup {
		/* background-position: -15% center; */
		min-height: 191.2px; /* 239 * .8 */
	}
	#blinds-signup .panel-title {
		font-size: 18px;
	}
	#blinds-signup .panel-subtitle {
		font-size: 24px;
	}
	#blinds-signup .column-firstname input {
		width: 131.2px; /* 164 * .8 */
	}
	#blinds-signup .column-email input {
		width: 156.8px; /* 196 * .8 */
	}
}
@media only screen and (max-width: 700px) {
	#blinds-signup {
		/* background-position: -25% center; */
		min-height: 143.4px; /* 239 * .6 */
	}
	#blinds-signup .panel {
		margin-top: 3.4467%; /* 5.7446% * .6 */
	}
	#blinds-signup .panel-title {
		font-size: 16px;
	}
	#blinds-signup .panel-subtitle {
		font-size: 18px;
	}
}
@media only screen and (max-width: 640px) {
	#blinds-signup {
		background-image: none !important;
	}
	#blinds-signup .panel {
		margin-left: 0;
		text-align: center;
	}
	#blinds-signup .panel-subtitle {
		margin-bottom: 6px;
	}
	#blinds-signup .column-firstname label,
	#blinds-signup .column-email label {
		text-align: left;
	}
}
@media only screen and (max-width: 540px) {
	#blinds-signup-container {
		margin: 0 auto 8px;
		max-width: 980px;
	}
	#blinds-signup {
		margin: 0;
	}
	#blinds-signup .panel-title {
		font-size: 18px;
	}
	#blinds-signup .panel-subtitle {
		font-size: 27px;
	}
}
@media only screen and (max-width: 400px) {
	#blinds-signup .panel-title {
		font-size: 18px;
	}
	#blinds-signup .panel-subtitle {
		font-size: 22px;
	}
	#blinds-signup .column-firstname input {
		width: 98.4px; /* 164 * .6 */
	}
	#blinds-signup .column-email input {
		width: 98.4px; /* same as firstname */
	}
}
#home-banner { margin-bottom: 5px }
#home-half-banners { margin-bottom: 5px }
#home-half-banners div {
	float: left;
	width: 49.5%;
}
#home-half-banners div:nth-child(2) { float: right }
.double-cloumn { padding: 10px 20px }
.home-product-wrapper {
	background-color: #fff;
	border: medium none;
	border-radius: 0;
	padding-bottom: 16px;
	text-align: center;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
    box-shadow: 1px 1px 3px 1px rgba(204,204,204,1);
}
.home-product-wrapper .title,
.home-product-wrapper .subtitle {
	font-weight: 600;
	text-transform: uppercase;
}
.home-product-wrapper .title {
	font-size: 17.78px;
}
.home-product-wrapper .subtitle {
	font-size: 11.18px;
}
.home-product-select-button, .category-products .wpb_column.archive-product-item .vc_btn3 {
	background: #03b865;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 10.28px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	margin: 8px 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}
.home-product-select-button:hover {
	color: #fff;
	background: #01a056;
}
.customize-button {
	background-color: #00cdd7;
	border: medium none;
	border-radius: 4px;
	box-shadow: 1px 2px 2px #00a6a3;
	color: #fff;
	display: inline-block;
	float: none;
	font-size: 16px;
	letter-spacing: 0.55px;
	padding: 8px;
}

/* Product page interest free banner */
.product-interest-free-banner{
	background-color: #C5D9D9;
	margin-bottom: 20px;
	padding: 11px;
	color: #000;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 35px;
	text-align: center;
}

.product-interest-free-banner a{
	text-decoration: none;
	border: 1px solid;
	font-size: 14px;
	padding: 5px 8px;
	color: #FF1B41;
	border-radius: 3px;
	font-weight: bold;
}

.product-interest-free-banner a:hover{
	color: #FF1B41;
}



#free-delivery-green {
	background: #03b865;
	color: #fff;
	line-height: 1.5;
	font-size: 24px;
	font-weight: bold;
	margin: 8px auto;
	max-width: 924px;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
}
#free-delivery-green img {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.badge-icon-block {
	background: #fff;
	padding: 32px 0 48px;
}
.badge-icon-block h3 {
	font-size: 24.36px;
	margin-bottom: 20px;
	text-align: center;
}
.badge-icon-block img {
	display: block;
	margin: 0 auto;
}
#pre-footer-container { background-color: #161f31 }
.pf-phone-number {
	color: #fff;
	background: rgba(0, 0, 0, 0) url("images/phone-icon.png") no-repeat 0 4px;
	display: inline-block;
	font-weight: normal;
	padding-left: 50px;
}
#footer-container { background-color: #F0F0F0 }
.footer-widgets {
	border-top: 1px solid #e7e7e7;
	padding-top: 30px;
}
#footer h4 { color: #737373 }
#footer a { color: #737373 }
.footer-text {
	border-top: 1px solid #e7e7e7;
	color: #737373;
	text-align: center;
}
.footer-text p { float: none; }
#footer fieldset {

	padding-bottom: 35px;
	text-align: center;
}


#footer fieldset#footer-newsletter{
   float: left;
    width: 49%;
}

#footer fieldset#footer-confidence{
   float: right;
    width: 49%;
    text-align: right;
}


#footer fieldset#footer-newsletter legend{
	color: #03b865;
}



#footer fieldset#footer-confidence legend{

    text-align: right;
    width: 100%;
}


#footer fieldset#footer-links{
	border-top: 1px solid #e1e1e1;
  float: left;
    width: 100%;
}

#footer legend {
	color: #7c7c7c;
	font-size: 18.41px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#footer-newsletter p {
	margin: 10px 0;
	text-align: left;
}

#footer-confidence p{
margin: 10px 0;
	text-align: right;
}

#footer-newsletter form {
	display: block;
}
#footer-newsletter .mc-field-group {
	/* background: rgba(0, 0, 0, 0) url("images/subscribe-icon.png") no-repeat; */
	min-height: 53px;
	/*padding-left: 96px; */
}
#footer-newsletter .mc-field-group input {
	border: medium none;
	box-sizing: border-box;
	float: left;
	height: 32px;
	margin: 8px 0 0;
	width: 70%;
}
#footer-newsletter .mc-field-group button {
	background-color: #03b865;
	border: none;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 11.84px;
	font-weight: 600;
	height: 32px;
	line-height: 32px;
	margin: 8px 0 0;
	padding: 0;
	text-transform: uppercase;
	width: 27%;
}
#footer-confidence img {
	display: inline-block;
	margin: 23px 0 0 16px;
}
@media only screen and (max-width: 960px) {
	#new-banner-container a img {
		margin-left: -666.75px; /* -952.5px * .7 */
		max-height: 185.5px; /* 265px * .7 */
	}
	.badge-icon-block {
		padding: 8px 16px 32px;
	}
	#free-delivery-green {
		font-size: 22px;
	}
	#pre-footer-container, #pre-header-container {
		padding: 16px;
	}
}
@media only screen and (max-width: 800px) {
	#new-banner-container a img {
		margin-left: -571.5px; /* -952.5px * .6 */
		max-height: 159px; /* 265px * .6 */
	}
	#free-delivery-green {
		font-size: 18px;
	}
	#free-delivery-green img {
		max-width: 48px;
	}
}
@media only screen and (min-width: 701px) {
	ul#footer-nav li:first-child {
		padding-left: 0;
	}
	ul#footer-nav li:first-child a {
		margin-left: 0;
	}
	ul#footer-nav li:first-child:before {
		content: '';
	}
}
@media only screen and (max-width: 700px) {
	#new-banner-container a img {
		margin-left: -476.25px; /* -952.5px * .5 */
		max-height: 132.5px; /* 265px * .5 */
	}
	#free-delivery-green {
		font-size: 16px;
	}
	#free-delivery-green img {
		max-width: 40px;
	}
	ul#footer-nav li {
		text-align: left;
		width: 50%;
	}
}
@media only screen and (max-width: 640px) {
	.badge-icon-block h3 {
		font-size: 19.704px; /* 24.36 * .8 */
	}
}
@media only screen and (max-width: 600px) {
	#new-banner-container a img {
		margin-left: -381px; /* -952.5px * .4 */
		max-height: 106px; /* 265px * .4 */
	}
	#free-delivery-green {
		font-size: 14px;
	}
	#free-delivery-green img {
		max-width: 32px;
	}
	#footer-newsletter .mc-field-group {
		background: none;
		margin: 0;
		padding-left: 0px;
		padding-top: 6px;
	}
	#footer-newsletter .mc-field-group input {
		margin-left: 0;
	}
	#footer-newsletter .mc-field-group button {
		width: 88px;
	}
	#footer h4 { text-align: center }
	.footer-widgets li.column li { text-align: center }
}
@media only screen and (max-width: 500px) {
	#free-delivery-grey {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.logo { margin: 16px }
	.logo img { max-width: 70% }
	.header-cart {
		right: 16px;
		top: 26px;
	}
	#free-delivery-green {
		font-size: 12px;
		padding: 4px;
	}
	#free-delivery-green img {
		max-width: 24px;
	}
	#home-half-banners div:nth-child(2) { float: left }
	#home-half-banners div { width: 99%; }
	.pre-footer-left , .pre-header-left {
		float: none;
		text-align: center;
	}
	.pre-footer-right, .pre-header-right {
		float: none;
	}

	.pre-footer-right .social-icons, .pre-header-right .social-icons{
		  text-align: center;
	}

	.pre-footer-right .social-icons li, .pre-header-right .social-icons li{
		float: none;
		 display: inline-block;
	}

	#footer-newsletter .mc-field-group input {
		width: 176px;
	}
	#footer-confidence .first {
		display: none;
	}
	#footer-links {
		/* display: none; */
	}
}
@media only screen and (max-width: 400px) {
	#new-banner-container a img {
		margin-left: -285.75px; /* -952.5px * .3 */
		max-height: 79.5px; /* 265px * .3 */
	}
	.badge-icon-block h3 {
		font-size: 14.616px; /* 24.36 * .6 */
	}
	#free-delivery-green {
		font-size: 9px;
		padding: 4px;
	}
	#free-delivery-green img {
		max-width: 24px;
	}
}


.copy #payment .form-row {
	padding: 0;
	margin: 0;
}

#payment {
	background: #fff;
}

#payment .payment_methods li {
	padding: 15px;
}

#payment .place-order input[type=submit] {
	background: #03b865;
	border: none;
	border-radius: 0;
	font-size: 18px;
	padding: 10px 0;
	height: 100%;
}

#payment .place-order input[type=submit]:hover:hover {
	background: #01a056;
}
